project:
  # project options (https://quarto.org/docs/reference/projects/options.html):
  type: book
  output-dir: _book
  execute-dir: project
  # pre-render: make download-images
  # preview (https://quarto.org/docs/reference/projects/options.html#preview):
  preview: 
    port: 3333
    host: 127.0.0.1
    browser: true
    watch-inputs: true
    navigate: true

book:
  title: "Version Control of Code and Data"
  subtitle: "An Introduction for Scientists"
  search: true
  repo-url: https://github.com/lnnrtwttkhn/version-control-book/
  repo-branch: main
  repo-actions: [edit, issue, source]
  downloads: [pdf, epub]
  sharing: [twitter, facebook]
  favicon: static/git-icon.svg
  twitter-card: false
  site-url: https://lennartwittkuhn.com/version-control-book
  chapters:
    - index.qmd
    - contents.qmd
    - chapters/intro-version-control.qmd
    - chapters/command-line.qmd
    - chapters/installation-setup.qmd
    - chapters/first-steps-git.qmd
    - chapters/branches.qmd
    - chapters/github-intro.qmd
    - chapters/stashing-rebasing.qmd
    - chapters/gui.qmd
    - chapters/rewriting-history.qmd
    - chapters/datalad-nextcloud.qmd
    - chapters/summary.qmd
    - references.qmd
    - part: Appendix
      chapters:
        - acknowledgements.qmd
        - chapters/contributing.qmd
        - chapters/style-guide.qmd
  page-navigation: true
  back-to-top-navigation: true
  # side navigation (https://quarto.org/docs/websites/website-navigation.html#side-navigation):
  sidebar:
    id: sidebar
    title: "Version Control of Code and Data"
    subtitle: "An Introduction for Scientists"
    logo: static/git-icon.svg
    search: true
    tools:
      - icon: globe
        href: https://lennartwittkuhn.com/version-control-book
      - icon: bug
        href: https://github.com/lnnrtwttkhn/version-control-book/issues
    style: docked
    type: light
    background: light
    border: false
    alignment: center
    collapse-level: 2
    pinned: true
  page-footer:
    left: |
      &copy; {{< var years >}} The Version Control Book Team
    center:
      - text: "Funded by the Digital and Data Literacy in Teaching Lab"
        href: acknowledgements.qmd
    right: |
      License: [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/) | [Acknowledgements](acknowledgements.qmd)
    border: false
    background: light

format:
  html:
    theme: cosmo
    from: markdown+emoji
    # fontcolor: black
    # linkcolor: black
    link-external-newwindow: true
    toc: true
    toc-depth: 3
    toc-title: "On this page"
    number-sections: true
    anchor-sections: true
    # layout (https://quarto.org/docs/reference/formats/html.html#layout):
    fig-cap-location: margin
    page-layout: full
    # title-block-style: default
    # code (https://quarto.org/docs/reference/formats/html.html#code):
    code-fold: false
    code-overflow: wrap
    code-line-numbers: false
    code-copy: true
    code-link: false
    code-annotations: hover
    code-tools: false
    highlight-style: monokai
    # references:
    bibliography: references.bib
    csl: chicago-author-date-note.csl
    citations-hover: true
    citation-location: document
    citeproc: true
    # footnotes:
    footnotes-hover: true
    # includes:
    include-after-body: plausible.html

metadata-files:
  - _authors.yml
  - _affiliations.yml